<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pending
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let list of whishesService.lists" detail (click)="selectedList(list)">
      <ion-label color="medium">{{list.title}}</ion-label>
      <ion-note slot="end" color="tertiary">{{list.items.length}} </ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
